{% extends 'base.html' %}
{% load startswith %}
{% block title %}Change Password{% endblock title %}

{% block extra_css %}

<style>
    form i {
        margin-left: -45px;
        cursor: pointer;
    }
    form input{
        width:50px;
    }
</style>
{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
        <div class="col">
            <div class="card card-body" style="width:600px;margin-left:25%;margin-top:-30%;">
                <!-- Logo -->
                <div class="app-brand justify-content-center">
                    <a href="index.html" class="app-brand-link gap-2">
                    <span class="app-brand-text demo h3 mb-0 fw-bold">Change Password</p></span>
                    </a>
                </div>
                <!-- /Logo -->
                <form action="" method="POST" class="mb-3" id="change_password_form_id">
                    {% csrf_token %}
                
                    <div class="modal-body text-center change-password">
                        <div class="mb-3">
                            <div class="input-group password_field">
                              <label for="old_password_id" class="form-label">Old Password</label>
                              <input type="password" name="old_password" class="form-control password" id="old_password_id" aria-describedby="password" value="" required autocomplete />
                              <i class="bx bx-hide"></i>
                            </div>
                        </div>
                      <div class="mb-3">
                        <div class="input-group password_field">
                          <label for="new_password_id" class="form-label">New Password</label>
                          <input type="password" name="new_password1" class="form-control password" id="new_password_id" aria-describedby="password" value="" required autocomplete />
                          <i class="bx bx-hide"></i>
                        </div>
                      </div>
                      <div class="mb-3">
                        <div class="input-group password_field">
                          <label for="confirm_password_id" class="form-label">Confirm Password</label>
                          <input type="password" name="new_password2" class="form-control password" id="confirm_password_id" value="" required autocomplete />
                          <i class="bx bx-hide"></i>
                        </div>
                      </div>
                    </div>
                
                    <div class="modal-footer">
                        <a href="{% url 'users_auth:user-list' %}" class="btn btn-primary">Cancel</a>
                        <button type="submit" name="change_password_btn" class="btn btn-primary btn-save" id="change_password_btn_id" style="margin-left: 80px; margin-right: 80px;">Change Password</button>
                    </div>
                  </form>
            </div>
        </div>
	</div>
</div>
{% endblock %}


{% block extra_js %}
    <script>
        $(document).ready(function () {
            //ajax code for change password
            $("#change_password_form_id").submit(function (event) {
                event.preventDefault()

                let csrfmiddlewaretoken = $(this).children().first().val();
                let formData = new FormData(document.querySelector("#change_password_form_id"))

                $.ajax({
                    type: "POST",
                    url: `{% url 'user-change-password' %}`,
                    data: formData,
                    processData: false,
                    contentType: false,
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                        'X-CSRFTOKEN': csrfmiddlewaretoken,
                    },
                    success: function (response) {
                        if (response?.error) {
                            form_validation("#change_password_form_id", response.error)
                        }
                        else {
                            window.location = `{% url 'login' %}`
                        }
                    },
                });

            });
        });

    </script>
{% endblock %}