
{% extends 'base_auth.html' %}
{% load static %}
{% block title %}Reset Password{% endblock %}

{% block header %}
<div class="navbar">
  <nav>
      <img src="{% static 'assets/image/logo.png'  %}" class="logo">
  </nav> 
</div>
{% endblock  %}

{% block extra_css %}
{% endblock %}

{% block content %}

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-4">
            <!-- College Admin Registration -->
            <div class="card" style="width:500px; margin-left:-10%;margin-top:-40px;">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center">
                    <a href="" class="app-brand-link gap-2">
                        <span class="app-brand-text demo h3 mb-0 fw-bold">Reset Password</p></span>
                    </a>
                    </div>
                    <p class="text-center">Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
                    <!-- /Logo -->
                    <!--Reset Password-->
                    <form id="reset_email_form_id" class="mb-3" action="" method="POST">
                    {% csrf_token %}
                    <div class="mb-3 ">
                        <label for="forgotten_email" class="form-label">Email</label>
                        <input type="email"  name="email" class="form-control" id="forgotten_email" required value="">
                    </div>
                    <input name="forgot_password_name" type="submit" class="btn btn-primary" value="Request a reset link" id="forgot_password_id"></input>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- success_modal -->
<div class="modal fade forgot_password_success_model comman_modal" id="success_modal" tabindex="-1" aria-labelledby="success_modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn_close" data-bs-dismiss="modal" aria-label="Close">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M25 7L7 25" stroke="#6B6B6B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M25 25L7 7" stroke="#6B6B6B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>              
          </button>
          <div class="message_block">
            <svg width="43" height="30" viewBox="0 0 43 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.69219 2.0769L27.5383 27.9231L40.4614 15" stroke="#19253B" stroke-width="3.2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
        </div>
        <div class="modal-body text-center">
         <p class="description">We have successfully sent your password reset link to your email address. Please check your inbox.</p>
          
        </div>
        <div class="modal-footer">
          <a href="{% url 'login' %}" type="button" class="btn btn-primary">Thank You</a>
        </div>
      </div>
    </div>
</div>
  
  <!-- Failed_modal -->
  <div class="modal fade forgot_password_failed_model comman_modal" id="failed_modal" tabindex="-1" aria-labelledby="failed_modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn_close" data-bs-dismiss="modal" aria-label="Close">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M25 7L7 25" stroke="#6B6B6B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M25 25L7 7" stroke="#6B6B6B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>            
          </button>
          <div class="message_block">
            <svg width="61" height="59" viewBox="0 0 61 59" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M30.2564 54.0834C44.1239 54.0834 55.4701 43.0209 55.4701 29.5001C55.4701 15.9792 44.1239 4.91675 30.2564 4.91675C16.3889 4.91675 5.04272 15.9792 5.04272 29.5001C5.04272 43.0209 16.3889 54.0834 30.2564 54.0834Z" stroke="#19253B" stroke-width="3.2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M30.2563 19.6667V31.9584" stroke="#19253B" stroke-width="3.2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M30.2424 39.3333H30.2651" stroke="#19253B" stroke-width="3.2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>              
          </div>
        </div>
        <div class="modal-body text-center">
         <p class="description">We're sorry, your password reset link has not been sent. You will have to click the 'Resend' button to receive the link.</p>
        </div>
        <div class="modal-footer">
          <a href="" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#forgotten_modal">Send Again</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
<script>
  $(document).ready(function(){

    
    $("#reset_email_form_id").submit(function(event){
      let csrftoken = $(this).children().first().val();
      var email = $(this).find("input[type=email]").val()
      $.ajax({
        type: "POST",
        url : '{% url "password-reset" %}',
        data: {"email" : email},
        headers: {
          'X-CSRFTOKEN': csrftoken,
        },
        success: function(response){
          if(response?.error){
            form_validation('#reset_email_form_id', response?.error)
            $("#email_error").css({"color": "red", "font-size": "16px" })
          }
          if(response["send_mail_successfully"]){
            $(".forgot_password_modal").modal("hide");
            $(".forgot_password_success_model").modal('show');
          }
          if(response["send_mail_failed"]){
            $(".forgot_password_modal").modal("hide");
            $(".forgot_password_failed_model").modal('show');
          }
        },
      })
      event.preventDefault()
    })

  })
</script>
{% endblock %}