
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}

{% endblock %}
{% block sidebar %}
{% endblock %}

{% block content %}

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner py-4">
        <!-- College Admin Registration -->
        <div class="card" style="width:max-content;position: fixed;margin-top: 20%;margin-left: -14%;    height: 35%;">
          <div class="card-body">
            <!-- Logo -->
            <div class="app-brand justify-content-center">
              <a href="index.html" class="app-brand-link gap-2">
                <span class="app-brand-text demo h3 mb-0 fw-bold">Password Set Successfully</p></span>
              </a>
            </div>
            <!-- /Logo -->
            
            {% if request.session.new_user_role == "ADMIN" and request.session.new_user_verified  %}
            <div>
                <p>Now,you have set password successfully <p> your email is <b>{{request.session.new_user}}</b><p> </p>
                <a style="position: absolute;" href="{% url "college-registration:college-database-create" %}" class="d-flex align-items-center justify-content-center btn btn-primary">
                  <i class="bx  scaleX-n1-rtl"></i>
                  Please fillup the more details about your college.
                </a
              </div>
            {% endif %}
            {% if not  request.session.new_user_verified  %}
              <div style="margin-top:50px;">
                <p>Now,you have set password successfully <p> your email is <b>{{request.session.new_user}}</b><p> </p>
                <p>
                
                  Now your registration has been completed  {{request.session.new_user_verified}} successfully,<p> We will send you one mail after varification, then you can login in system to access database.
                </p>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
</div>
  
    
{% endblock %}

